/* ScrollArea — @acko/css/scroll-area.css */

.acko-scroll-area {
  @apply scroll-smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--colorPrimaryMuted) transparent;
}

.acko-scroll-area-vertical {
  @apply overflow-y-auto overflow-x-hidden;
}

.acko-scroll-area-horizontal {
  @apply overflow-x-auto overflow-y-hidden;
}

.acko-scroll-area-both {
  @apply overflow-auto;
}

.acko-scroll-area::-webkit-scrollbar {
  @apply w-6 h-6;
}

.acko-scroll-area::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.acko-scroll-area::-webkit-scrollbar-thumb {
  @apply rounded-full;
  background: var(--colorPrimaryMuted);
}

.acko-scroll-area::-webkit-scrollbar-thumb:hover {
  @apply bg-primary;
}
